name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  proxy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Go Proxy
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          echo "Triggering proxy for $TAG"
          # Retry a few times in case of transient network issues
          for i in {1..3}; do
            curl -f "https://proxy.golang.org/github.com/ahmedtahas/qr-gode/@v/$TAG.info" && break || sleep 5
          done
